{% extends "layout.html" %}
{% block title %}Colonial{% endblock %}
{% block css %} "/static/css/landing.css"{% endblock %}
{% block body %}
<!--Inicio de la seccion del header-->
<section class="header">
    <a href="#" class="logo"><i class="fas fa-utensils"></i>Colonial</a>
    {% if admin == 'admin' %}
    <a class="estilo_nombre" href="/historial_a"> {{ usuario }}</a>
    {% else %}
    <a class="estilo_nombre" href="/historial"> {{ usuario }}</a>
    {% endif %}
    
    <nav class="navbar">
        <a href="#home">Inicio</a>
        <a href="#acerca">Acerca</a>
        <a href="/carrito">Carrito</a>
        {% if admin == 'admin' %}
        <a href="/admin"> {{ admin }} </a>
        {% else %}
        {% endif %}
        <a href="/comprar">Menu</a>
        <!--<a href="#galeria">Galeria</a>-->
        <!--<a href="#orden">Orden</a>-->

        {% if session["user_id"] %}
        <a href="/logout" class="btn">Cerrar Sesión</a>
        {% else %}
        <a href="/login" class="btn">Iniciar Sesión</a>
        {% endif %}
    </nav>

    <div id="menu-btn" class="fas fa-bars"></div>
</section>
<!--Fin de la seccion del header-->

<!--Inicio de la seccion del home-->
<section class="home" id="home">

    <div class="swiper home-slider">

       <div class="swiper-wrapper">

          <div class="swiper-slide slide" style="background: url(static/imagesLanding/home-slide-1.jpg) no-repeat;">
             <div class="content">
                <span>Restaurante Colonial</span>
                <h3>Un arte gastronómico</h3>
             </div>
          </div>

          <div class="swiper-slide slide" style="background: url(static/imagesLanding/home-slide-2.jpg) no-repeat;">
             <div class="content">
                <span>Restaurante Colonial</span>
                <h3>Para compartir momentos</h3>
             </div>
          </div>

          <div class="swiper-slide slide" style="background: url(static/imagesLanding/home-slide-3.jpg) no-repeat;">
             <div class="content">
                <span>Restaurante Colonial</span>
                <h3>Donde comer es un placer</h3>
             </div>
          </div>

       </div>
       <div class="swiper-button-next"></div>
       <div class="swiper-button-prev"></div>
    </div>
 </section>
<!--Fin de la seccion del home-->

<!--Inicio de la seccion del home-->
<section class="about" id="acerca">

  <div class="image">
     <img src="static/imagesLanding/about-img.png" alt="">
  </div>

  <div class="content">
     <h3 class="title">Restaurante Colonial</h3>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi optio at, saepe accusamus dolorum, quos eos nesciunt amet exercitationem illum quis nostrum, repellat quaerat eum debitis fugit alias magnam omnis!</p>
     <a href="#" class="btn">read more</a>
     <div class="icons-container">
        <div class="icons">
           <img src="static/imagesLanding/about-icon-1.png" alt="">
           <h3>Platillos de excelencia</h3>
        </div>
        <div class="icons">
           <img src="static/imagesLanding/about-icon-2.png" alt="">
           <h3>Platillos de excelencia</h3>
        </div>
        <div class="icons">
           <img src="static/imagesLanding/about-icon-3.png" alt="">
           <h3>Platillos de excelencia</h3>
        </div>
     </div>
  </div>

</section>
<!--Fin de la seccion del home-->

<!-- Inicio de la seccion de comida-->

<section class="food" id="food">

<div class="heading">
  <span>Platillos populares</span>
  <h3>Deliciosa comida</h3>
</div>

<div class="swiper food-slider">

  <div class="swiper-wrapper">
     {% for comidas in comidas %}
     <div class="swiper-slide slide" id= data-swiper-slide-index name=data-swiper-slide-index value="{{ comidas['id'] }}">
         <form action="/landing" method="post">
            <img src="static/imagesLanding/food-img-1.png" alt="">
            <input id="lel" name="prueba" type="hidden" value="{{ comidas['nombre'] }}">
            <h3 id="prueba" name="prueba"  value="{{ comidas['nombre'] }}">{{ comidas['nombre'] }}</h3>
            <div class="price">{{ comidas["precio"] }}</div>
         </form>

     </div>
     {% endfor %}
  </div>

  <div class="swiper-pagination"></div>

</div>

</section>

<!-- Inicio de la seccion de comida-->

<!--Inicio de la seccion de preview-->

<section class="food-preview-container">


<div id="close-preview" class="fas fa-times"></div>
{% for comidas in comidas %}
<div class="food-preview" value="{{ comidas['id'] }}">
  <img src="static/imagesLanding/food-img-1.png" alt="">
  <h3> {{ comidas['nombre'] }} </h3>
  <div class="stars">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
  </div>
  <p>{{ comidas['descripcion'] }}</p>
  <div class="price">{{ comidas['precio'] }}</div>
  <a href="/comprar" class="btn">Comprar</a>
</div>
{% endfor %}

</section>

<!--Fin de la seccion de preview-->

<!--Footer-->
<section class="footer">

   <div class="icons-container">

      <div class="icons">
         <i class="fas fa-clock"></i>
         <h3>Horario de atención</h3>
         <p>07:00am a 10:00pm</p>
      </div>

      <div class="icons">
         <i class="fas fa-phone"></i>
         <h3>Teléfono</h3>
         <p>+505 8888 8888</p>
      </div>

      <div class="icons">
         <i class="fas fa-envelope"></i>
         <h3>Correo electrónico</h3>
         <p>colonialcs50@gmail.com</p>
      </div>

      <div class="icons">
         <i class="fas fa-map"></i>
         <h3>Dirección</h3>
         <p>Calle La Calzada, Granada</p>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.64075252534!2d-85.95258448587431!3d11.930070440103034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f740cbfc091d589%3A0x6e4784dc193818f5!2sC.%20La%20Calzada%2C%20Granada!5e0!3m2!1ses!2sni!4v1656371274052!5m2!1ses!2sni" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

   </div>

   <div class="credit"> creado por <span>Restaurante Colonial</span> | Todos los derechos reservados! </div>

</section>
<!--Fin del footer-->

 <!--Swiper link-->
 <script src='https://unpkg.com/swiper@7/swiper-bundle.min.js'></script>
 <!--Enlace de archivo js personalizado-->
 <script src="{{url_for('static', filename = 'js/landing.js')}}"></script>
 <!--script src='static/js/landing.js'></script-->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
{% endblock %}