{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block css %} "/static/css/estilos.css"{% endblock %}
{% block body %}
      <form class="form" action="/login" method="post">
        <h2 class="form_title">Inicia Sesión</h2>
        <p class="form_p">¿Aún no tienes una cuenta? <a href="/register" class="form_link">Resgistrate aquí</a></p>

        <div class="form_container">
            <div class="form_group">
                <input type="text" id="username" name="username" class="form_input" required="required">
                <label for="username" class="form_label">usuario</label>
                <span class="form_line"></span>
            </div>
            <div class="form_group">
                <input type="password" id="password" name="password" class="form_input">
                <label for="password" class="form_label">Contraseña:</label>
                <span class="form_line"></span>
            </div>
            <input type="submit" class="form_submit" value="Entrar">
        </div>
      </form>
{% endblock %}